<!DOCTYPE html>

<html>

<head>
      <title>Home</title>
      <link rel="icon" href="/img/weather-icon-png-16.png">
    <link rel="stylesheet" href="/css/styles.css"></link>
</head>

<body>
    <div class="main-container">
     {{>header}}
    <h1>Home Page</h1>
    {{!-- <img src="/img/img.jpg" > --}}
    </div>
    {{>footer}}
</body>
</html>